<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.retofinal">
    <!-- Permiso para poder el estado de la red en el teléfono -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permiso para poder acceder a internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RetoFinal">
        <activity android:name=".olvidarContra"></activity>
        <activity android:name=".login" /> <!-- activity android:name=".conexion"/ -->
        <activity android:name=".datosMunicipios" />
        <activity android:name=".favoritos" />
        <activity android:name=".topEspacios" />
        <activity android:name=".topMunicipios" />
        <activity android:name=".espacios" />
        <activity android:name=".municipios" />
        <activity android:name=".menu_principal" />
        <activity android:name=".registro" />
        <activity android:name=".portada">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>